@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "iran";
    src: url(./fonts/iran.ttf);
  }
}

body {
  background-color: #f1f1f1;
}

.owl-dots {
 margin-top:60px !important
}

.owl-dot span{
  margin-left:3px !important;
  margin-right:3px !important
}

.captchabg{
  background-image: url("./Images/captchacodebg.jpg");
}

.phonebook{
  filter: invert(100%);
}





@media screen and (min-width: 768px) {
  #mute2{
  width:460px
}

#mute2 input{
width:440px
}
}

